.cv-page__story {
    width: 100%;
    height: 100vh;
    position: relative;
}

p {
    margin-top: 10px;
    text-indent: 30px;
}

.cv-page__story-cnt {
    position: absolute;
    width: 55%;
    left: 37%;
    top: 4%;
    background: rgba(7, 147, 138, 0.35);
    padding: 20px;
    border: #25E4F9 3px solid;
    outline: rgba(2, 228, 252, 0.35) 4px solid;
}

.about__story-image {
    width: 11vw;
    height: 30vh;
    background-image: url("./images/school.jpg");
    background-size: cover;
    background-position: center;
    float: right;
    margin-left: 15px;
}

.about__story-text {
    height: 100%;
    width: 100%;
    text-align: justify;
    color: #02E4FC;
    font-family: Inter;
    font-size: 2.3vh;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}