.cv-page__about {
    width: 100%;
    height: 100vh;
}

.about__greeting-cnt {
    position: absolute;
    height: 52%;
    width: 50%;
    top: 26%;
    left: 16%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.greeting__ellipse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45%;
    background-image: url("./images/greeting-background.svg");
    background-size: cover;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.greeting__text {
    font-family: Inter;
    font-size: 15vh;
    font-style: italic;
    font-weight: 700;
    color: white;
}

.greeting__name {
    color: #25E4F9;
    font-family: Inter;
    font-size: 9vh;
    font-style: italic;
    font-weight: 200;
}

.greeting__description {
    color: #02E4FC;
    font-family: Inter;
    font-size: 6vh;
    font-weight: 900;
}

.about__selfie-block {
    position: absolute;
    left: 78%;
    top: 31%;
    height: 37vh;
    width: 14vw;
    background-color: #018FEA;
}

.about__selfie {
    height: 89%;
    width: 88%;
    border: #02E4FC 3px solid;
    background-image: url("./images/selfie.jpg");
    background-size: cover;
    background-position: center;
}