.cv-page__contacts {
    width: 100%;
    height: 100vh;
    position: relative;
}

.contacts__contacts-block {
    position: absolute;
    top: 77%;
    left: 6%;
    height: 20vh;
    width: 41vw;
    background-image: url("./images/contacts-background.svg");
    background-size: cover;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contacts__photo {
    position: absolute;
    top: 5%;
    left: 65%;
    height: 63vh;
    width: 19vw;
    background-image: url("./images/contacts-photo.jpg");
    background-size: cover;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.contacts__hand {
    position: absolute;
    top: 56%;
    left: 24%;
    height: 15vh;
    width: 5vw;
    background-image: url("./images/hand.png");
    background-size: cover;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    animation: fly-animation 2s infinite linear;
}

.contacts__text {
    position: absolute;
    top: 46%;
    left: 31%;
    font-family: Inter;
    font-size: 5vh;
    font-style: italic;
    font-weight: 700;
    color: white;
}

@keyframes fly-animation {
    0% {
        transform: translate(0);
    }

    50% {
        transform: translate(0px, 5px);
    }

    100% {
        transform: translate(0);
    }
}

.contacts__social-media {
    height: 9vh;
    width: 4vw;
    background-size: cover;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.1s;
}

.contacts__social-media:hover {
    transform: scale(1.02);
}

.contacts__telegram {
    background-image: url("./images/telegram.svg");
}

.contacts__whatsapp {
    background-image: url("./images/whatsapp.svg");
}

.contacts__email {
    font-family: Inter;
    font-size: 2vh;
    font-style: italic;
    font-weight: 700;
    color: white;
}

.contacts__repo-href {
    font-family: Inter;
    font-size: 2vh;
    font-style: italic;
    font-weight: 700;
    color: white;
    transition: 0.1s;
}

.contacts__repo-href:hover {
    transform: scale(1.02);
}

.contacts__left-flex-block {
    height: 90%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contacts__right-flex-block {
    height: 90%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}