@import url('https://fonts.cdnfonts.com/css/inter');

.navigation {
    position: fixed;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 4%;
    top: 10%;
    z-index: 1;
}

.navigation__link {
    height: 90px;
    width: 171px;
    transition: 0.2s;
}

.navigation__link:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.navigation__link:active {
    transform: scale(1.08);
}

.navigation__inner {
    height: 100%;
    width: 100%;
    animation: none;
    position: relative;
}

.active .navigation__inner {
    animation: fly-animation 1s infinite linear;
}

@keyframes fly-animation {
    0% {
        transform: translate(0);
    }

    50% {
        transform: translate(0px, 5px);
    }

    100% {
        transform: translate(0);
    }
}

.navigation__icon {
    background-image: url("./images/nav-icon.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.active .navigation__icon {
    background-image: url("./images/nav-icon-active.svg");
}

.navigation__text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #002D5A;
    font-family: Inter;
    font-size: 17px;
    font-weight: 900;
}

.active .navigation__text {
    color: #5A0000;
}