.cv-page__video {
    width: 100%;
    height: 100vh;
    position: relative;
}

.video__tv {
    position: absolute;
    width: 76%;
    height: 97%;
    left: 22%;
    top: 2%;
    background-image: url("./images/tv-background.png");
    background-size: cover;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tv__player {
    z-index: 2;
    width: 69%;
    height: 69%;
    border: none;
    outline: none;
    box-shadow: none;
}