body {
    margin: 0;
}

html {
    --scrollbarBG: #CFD8DC;
    --thumbBG: #002D5A;
}

body::-webkit-scrollbar {
    width: 11px;
}

body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}